main {
    padding-top: 70px;
    padding-inline: 0px;
    height: 100%;
    overflow: auto;
}

#footer {
    padding-inline: 20px;
    border-top: 2px black solid;
}

main,
div.container,
div.two-column,
#nested-main,
#search-page,
#insects-search,
#insects-search>form {
    width: 100%;
}

div.container {
    margin-inline: 5px;
}

div.two-column {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#categories-nav {
    border: black solid 3px;
    width: 250px;
    height: 100%;
}

#categories-nav-list {
    height: 100%;
}

#nested-main {
    margin-left: 20px;
}

search,
#contact-details,
#contact-us,
#popular-goods-list,
.search-categories,
.search-price-limits,
.form-check-input,
.form-control,
.item-card {
    border: 2px black solid;
}

search,
#contact-details,
#contact-us,
.search-categories,
.search-price-limits,
.form-control {
    padding: 10px;
    margin-block: 10px;
}

.item-card {
    width: 250px;
    height: 300px;
    margin: 15px;
}

.item-card-picture {
    width: 50%;
    height: 50%;
}

#results-list,
#popular-goods-list {
    list-style-type: none;
    flex-wrap: wrap;
    display: flex;
}

.contact-item {
    display: inline;
}

.goods-item-picture {
    width: 500px;
}

.item-card.popular {
    border-color: red;
}

.old-price {
    text-decoration: line-through;
    color: grey;
}

.item-card.discounted {
    border-color: green;
}

.discount-percentage {
    border: 1px green solid;
}